{% extends 'base.html' %}
{% load static %}

{%  block content %}


<h1>User Profile</h1>

<br><br>

{{ page_user }}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
        {% if page_user.profile_pic %}
        <img src="{{ page_user.profile_pic.url }}" 
        class="card-img" class="rounded-circle" alt="Poster's Profile Picture">
        {% else %}
        <img src="https://res.cloudinary.com/dchgmljz1/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1700587702/media/images/360_F_516275801_f3Fsp17x6HQK0xQgDQEELoTuERO4SsWV_s3smg5.jpg?_s=public-apps" 
       
        class="card-img" alt="Placeholder Profile Picture">
        {% endif %}
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">{{page_user.user.first_name}} {{page_user.user.last_name}}</h5>
            <p class="card-text"><small class="text-muted">
                {% if page_user.website_url %}
                <a href="{{page_user.website_url}}">
                Website</a>
                {% endif %}

                {% if page_user.facebook_url %}
                <a href="{{page_user.facebook_url}}">
                Facebook</a>
                {% endif %}

                {% if page_user.twitter_url %}
                <a href="{{page_user.twitter_url}}">
                Twitter</a>
                {% endif %}

            </small></p>
            <p class="card-text">{{page_user.bio}}</p>
        </div>
        </div>
    </div>
</div>        

{% endblock %}
