{% extends 'base.html' %}

{%  block title %}Add to the Discussion!{% endblock %}

{%  block content %}

{% if user.is_authenticated %}            

    <h1>Add Blog Post</h1>

    <div class="form-group">
        <form method="POST">
            <br>
            {% csrf_token %}
            {{ form.as_p }} 
            <button class="btn btn-primary">Post</button>
        </form>
    </div>

    <script>
        var name = "{{ user.id }}";
        document.getElementById("user").value = name 


    </script>
<br><br>

{% else %}

<h1>What are you doing here... You don't have permission 👀</h1>

{% endif %}

{% endblock %}
