{% extends 'base.html' %}

{%  block title %}Delete your Post{% endblock %}

{%  block content %}

{% if user.is_authenticated %}            

<h1>Delete Your Post</h1>
<br>
<h3>Delete: {{ post.title }}</h3>
<div class="form-group">
    <form method="POST">
        <br>
        {% csrf_token %}
        <strong>Are you sure you wish to delete your post? This cannot be undone</strong>        
        <br><br><br>
        <button class="btn btn-danger">Delete Post</button>
    </form>
</div>
<br><br>

{% else %}

<h1>What are you doing here... You don't have permission 👀</h1>

{% endif %}

{% endblock %}
