{% extends 'base.html' %}

{% block content %}

<h1 style="color: #404e5c;">Posts</h1>

<div class="container">
    <div class="row">
        {% for post in object_list %}
        <div class="col-md-4">
            <div class="card">
                {% if post.header_image %}
                    <a href="{% url 'article-detail' post.pk %}">
                        <img class="card-img-top" src="{{ post.header_image.url }}" alt="{{ post.title }}">
                    </a>
                {% else %}
                    <a href="{% url 'article-detail' post.pk %}">
                        <img src="https://res.cloudinary.com/dchgmljz1/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1700538138/placeholder_z66v7a.jpg?_s=public-apps" alt="Placeholder Image" class="card-img-top">
                    </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'article-detail' post.pk %}" style="color: #404e5c;">{{ post.title }}</a></h5>
                    <p class="card-text">
                        {{ post.body|truncatechars:200|striptags }}
                    </p>
                    <p><a href="{% url 'article-detail' post.pk %}" style="color: #007bff;">Read more</a></p>
                    <p class="card-text">
                        In <a href="{% url 'category' post.category|slugify %}" class="category-link">{{ post.category }}</a> -
                        by {{ post.author }}<br>
                        {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date|date:"F d, Y" }}
                    </p>
                    <small class="author-date">
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                                This was posted by you.
                                <a href="{% url 'update_post' post.pk %}" class="edit-delete-links" style="color: #777;">(Edit)</a>
                                <a href="{% url 'delete_post' post.pk %}" class="edit-delete-links" style="color: #777;">(Delete)</a>
                            {% endif %}
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>
                {% endfor %}
    </div>
</div>

{% endblock %}
