{% extends 'base.html' %}
<style>
    /* Custom Styles for Images */
    .card-img-top {
        max-width: 100%;
        height: 200px; /* Set a fixed height for the images */
        object-fit: cover; /* Ensure images maintain aspect ratio and cover the entire container */
        border-radius: 5px;
    }

    /* Custom Styles for Cards */
    .card {
        margin-bottom: 20px;
        border: 1px solid #b7c3f3;
        border-radius: 10px;
    }

    .card-title {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
        color: #404e5c;
    }

    .card-text {
        font-size: 1rem;
        color: #555;
    }

    .card-body {
        padding: 15px;
        height: 400px; /* Set a fixed height for the card body */
    }

    /* Custom Styles for Author and Date */
    .author-date {
        font-size: 0.9rem;
        color: #777;
    }

    /* Custom Styles for Edit and Delete Links */
    .edit-delete-links {
        font-size: 0.8rem;
        color: #777;
        margin-top: 5px;
        display: block;
    }

    /* Custom Styles for Category Links */
    .category-link {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
    }

    .category-link:hover {
        text-decoration: underline;
    }
</style>

{% block content %}

<h1 style="color: #404e5c;">Posts</h1>

<div class="container">
    <div class="row">
        {% for post in object_list %}
        <div class="col-md-4">
            <div class="card">
                {% if post.header_image %}
                    <a href="{% url 'article-detail' post.pk %}">
                        <img class="card-img-top" src="{{ post.header_image.url }}" alt="{{ post.title }}">
                    </a>
                {% else %}
                    <a href="{% url 'article-detail' post.pk %}">
                        <img src="https://res.cloudinary.com/dchgmljz1/image/upload/c_pad,b_auto:predominant,fl_preserve_transparency/v1700538138/placeholder_z66v7a.jpg?_s=public-apps" alt="Placeholder Image" class="card-img-top">
                    </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'article-detail' post.pk %}" style="color: #404e5c;">{{ post.title }}</a></h5>
                    <p class="card-text">
                        {{ post.body|truncatechars:200|striptags }}
                    </p>
                    <p><a href="{% url 'article-detail' post.pk %}" style="color: #007bff;">Read more</a></p>
                    <p class="card-text">
                        In <a href="{% url 'category' post.category|slugify %}" class="category-link">{{ post.category }}</a> -
                        by {{ post.author }}<br>
                        {{ post.author.first_name }} {{ post.author.last_name }} - {{ post.post_date|date:"F d, Y" }}
                    </p>
                    <small class="author-date">
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                                This was posted by you.
                                <a href="{% url 'update_post' post.pk %}" class="edit-delete-links" style="color: #777;">(Edit)</a>
                                <a href="{% url 'delete_post' post.pk %}" class="edit-delete-links" style="color: #777;">(Delete)</a>
                            {% endif %}
                        {% endif %}
                    </small>
                </div>
            </div>
        </div>
                {% endfor %}
    </div>
</div>

{% endblock %}
